.body {
    width: 1280px;
    margin: 0 auto;

}

p {
    text-align: justify;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.title {
    font-weight: 400;
    font-size: 80px;


}

.color {
    color: #4BCAFF;

}

a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background: #35444F;


}

.menu-item {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 25px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 28px;
    transition: background 0.25s linear;
    border-left: 1px solid #FFFFFF;


}

.menu-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.menu-item:hover {
    background: #222F3A;

}


.aside-menu {
    width: 344px;
    height: auto;
    list-style: none;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    padding-left: 44px;
    margin-right: 52px;


}


.aside-menu-item {
    font-size: 27px;
    font-weight: 400;
    color: #495863;
    padding: 27px 0;
    display: flex;
    align-items: center;
    width: 100%;

}

.aside-menu-item:hover {
    background: #DBDBDB;
}

.container {
    margin-top: 48px;
    display: flex;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    width: 855px;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 530px;
    border: 1px solid #000000;
    align-items: center;


}

.text {
    margin: 35px 0;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;

}

.footer-menu-item {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-weight: 400;
    font-size: 28px;
    color: #0C1927;
    line-height: 28px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-item:last-child {
    justify-content: flex-end;
    padding-left: 135px;
}
